<div class="file-upload">
  <input type="file" (change)="onFileSelected($event)" id="file" [multiple]="false" hidden>
  <textarea [(ngModel)]="userInput" name="text" rows="4" cols="50"></textarea>
  <label for="file" class="custom-file-input">
    {{fileToUpload ? fileToUpload.name : 'Choose file'}}
  </label>
  <button mat-raised-button color="primary" (click)="onUpload()" [disabled]="!fileToUpload && !userInput">Upload</button>
  <div class="wrapper">
    <div class="text-wrap">
      <div class="text">
        <p>
        <span *ngFor="let part of styledText" 
              [ngClass]="{'match': part.isMatch}"
              [ngStyle]="{'background-color': getColor(part)}"
              (click)="part.isMatch && onMatchClick(part.text)">
          {{ part.text }}
        </span>
      </p>
      </div>
    </div>
    <div class="clicked-wrap">
      <div class="text">
        <ul>
          <li *ngFor="let info of selectedMatches">{{ info }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>