html, body {
  height: 100%; /* Ensure both html and body take full height */
  margin: 0;    /* Remove default margin */
  padding: 0;   /* Remove default padding */
  overflow: auto; /* Allow scrolling */
}

body {
  background-color: rgb(32, 32, 32); /* Set the desired background color */
  color: #f2f2f2;
  min-height: 100vh;          /* Ensure body covers at least full viewport height */
  box-sizing: border-box;      /* Include padding and border in element's total width and height */
}

/* Make sure all child elements also respect this */
* {
  box-sizing: inherit;
}

.file-upload {
  text-align: center;
}

.custom-file-input {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 400px;
  white-space: nowrap;
  margin-top: 20px;
  color: #2d2d2d;
}

.custom-file-input:hover {
  background-color: #f0f0f0;
}

.custom-file-input mat-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.highlight {
  background-color: yellow;
  cursor: pointer;
}

.match {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto; /* Adjust height based on content */
  min-height: 100vh; /* Ensure it covers at least full viewport height */
  text-align: left;
}

.text-wrap {
  width: 70%;
  min-width: 800px;
  max-width: 1200px;
}

.text {
  border: 1px solid #7980a5;
  border-radius: 10px;
  min-height: 400px;
  margin: 20px;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #2d2d2d;
}

.table-container {
  border: 1px solid #7980a5;
  border-radius: 5px;
  min-height: 400px;
  margin: 20px;
  color: #2d2d2d;
  background-color: #f2f2f2;

}

.form-container {
  margin-left: 20px;
  margin-top: -10px;
}

.clicked-wrap {
  width: 30%;
}

.upload-button {
  margin-top: 20px;
}

textarea.upload-button {
  color: #2d2d2d;
}

p.upload-button {
  color: #f2f2f2;
}

.toggle {
  margin-top: 20px;
  margin-left: 20px;
}

.submit {
  margin-top: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 2px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

button:disabled,
button[disabled],
.mat-mdc-button-disabled,
.mat-mdc-raised-button.mat-mdc-button-disabled,
.mat-mdc-raised-button[disabled] {
  background-color: #9a9a9a !important;
  color: #f5f5f5 !important;
  opacity: 1 !important;
}

.highlight-table {
  width: 100%;
  border-collapse: collapse;
}

.highlight-table td {
  padding: 4px;
}

.info-cell {
  width: calc(100% - 30px);
}

.customize-input {
  width: 100%;
  padding: 3px;
  margin-top: 0;
  margin-bottom: 5px;
}

.remove-button-cell {
  width: 30px;
  text-align: center;
  color: #484848;
  font-weight: 500;
  cursor: pointer;
}

.remove-button-cell:hover {
  color: #626262;
}
